<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet/less" type="text/css" href="style.less" />
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body style="width:100%; height:100%; margin:0px; padding:0px;">
        <div id="app">
            <div style="width:100%; min-height:50px; background:rgba(0,0,0,0.3); display:flex; justify-content: flex-end;">
                <div>
                    <div v-for="page in pages" :class="{'active': currentPage == page[0]}" @click="currentPage = page[0]"
                    class="navBarButton"><h3>{{page[1]}}</h3></div>
                </div>
            </div>
            <div v-if="currentPage=='am'" class="center main">
                <div>
                    <div class="aboutMe">
                        <div class="center fullSize">
                            <div class="meIcon"></div>
                        </div>
                        <div class="textSection">
                            <div>
                                <h3 style="font-weight: bold; font-size:24px;">About Me</h3>
                                <div style="text-align:justify;">
                                    As a software designer, I am committed to staying at the forefront of emerging technologies and industry trends in order to deliver innovative software solutions that meet the needs of my clients. Throughout my career, I have demonstrated a passion for learning and have sought out opportunities to expand my skillset through training, professional development courses, and hands-on experience.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fullSize center aboutMeB">
                        <div style="max-width:700px; margin-bottom:50px;">
                            <div style="text-align:justify;">
                                My goal is to continue to hone my technical skills and deepen my understanding of the software development lifecycle, from design to deployment. I am committed to staying up-to-date with the latest programming languages, frameworks, and methodologies in order to deliver high-quality software products that exceed my clients' expectations.
                            </div>
                            <div style="text-align:justify; margin-top:15px;">
                                In addition to technical expertise, I also prioritize collaboration and communication in my work. I believe that effective communication and teamwork are essential for delivering successful software projects, and I strive to create an inclusive and collaborative work environment that fosters creativity and innovation.
                            </div>
                            <div style="text-align:justify; margin-top:15px;">
                                Overall, my commitment to ongoing learning and development, combined with my technical expertise and collaborative approach, make me a valuable asset to any software development team.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        const { createApp } = Vue;
        createApp(
        {
            data() 
            {
                var data = 
                {
                    currentPage: 'am',
                    pages: 
                    [
                        ["am", "About Me"],
                        ["gp", "Goals & Plans"],
                        ["sw", "Strength & Weakness"],
                        ["c", "Contact"]
                    ]
                };
                return data;
            }
        }).mount('#app')
        </script>
    </body>
</html>