<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet/less" type="text/css" href="style.less" />
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body style="width:100%; height:100%; margin:0px; padding:0px;">
        <div id="app">
            <div style="width:100%; min-height:50px; background:rgba(0,0,0,0.3); display:flex; justify-content: flex-end;">
                <div>
                    <div v-for="page in pages" :class="{'active': currentPage == page[0]}" @click="currentPage = page[0]"
                    class="navBarButton"><h3>{{page[1]}}</h3></div>
                </div>
            </div>
            <div v-if="currentPage=='am'" class="center main">
                <div>
                    <div class="aboutMe">
                        <div class="center fullSize">
                            <div class="meIcon"></div>
                        </div>
                        <div class="textSection">
                            <div>
                                <h3 style="font-weight: bold; font-size:24px;">About Me</h3>
                                <div style="text-align:justify;">
                                    As a software designer, I am committed to staying at the forefront of emerging technologies and industry trends in order to deliver innovative software solutions that meet the needs of my clients. Throughout my career, I have demonstrated a passion for learning and have sought out opportunities to expand my skillset through training, professional development courses, and hands-on experience.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fullSize center aboutMeB">
                        <div style="max-width:700px; margin-bottom:50px;">
                            <div style="text-align:justify;">
                                My goal is to continue to hone my technical skills and deepen my understanding of the software development lifecycle, from design to deployment. I am committed to staying up-to-date with the latest programming languages, frameworks, and methodologies in order to deliver high-quality software products that exceed my clients' expectations.
                            </div>
                            <div style="text-align:justify; margin-top:15px;">
                                In addition to technical expertise, I also prioritize collaboration and communication in my work. I believe that effective communication and teamwork are essential for delivering successful software projects, and I strive to create an inclusive and collaborative work environment that fosters creativity and innovation.
                            </div>
                            <div style="text-align:justify; margin-top:15px;">
                                Overall, my commitment to ongoing learning and development, combined with my technical expertise and collaborative approach, make me a valuable asset to any software development team.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
                </div>
                    <div v-if="currentPage=='gp'" class="center main">
                <div>
                    <div class="Goals&Plans">
                        <div class="center fullSize">
                            <div class="meIcon"></div>
                        </div>
                        <div class="textSection">
                            <div>
                                <h3 style="font-weight: bold; font-size:24px;">About Me</h3>
                                <div style="text-align:justify;">
                                    There are a few of perspectives that the market now is severely needed
                                </div>
                                <div style="text-align:justify; margin-top:15px;">
                                    1. Cybersecurity: With the rise of the data breaches and cyber threats happening more and more frequently, a growing demand for the IT professions who can develop and implement effective cybersecurity measures to protect individuals and organizations from different forms of cyber attacks is found. And as an IT professional, we can design and implement security protocols and measures, performing vulnerability assessments and penetration testing, monitor and respond to different kinds of security incidents, so that we can provide some training and awareness to the organizations and individuals.
                                </div>
                                <div style="text-align:justify; margin-top:15px;">
                                    2. Data Analytics: The ability to collect, store, and analyze data is becoming increasingly essential for organizations to remain competitive. Therefore, there is a growing demand for IT professionals who can develop and implement data analytics solutions that can help businesses make better decisions. As an IT professional, we can provide designs and implement data analytics solutions, collect and store data, perform data cleansing and transformation, develop and deploy analytics models, and provide insights and recommendations to different stakeholders.
                                </div>
                                <div style="text-align:justify; margin-top:15px;">
                                    3. Artificial Intelligence and Machine Learning: Organizations are increasingly leveraging AI and machine learning technologies to automate tasks, gain insights from vast amounts of data, and improve decision-making. Hence, there is a need for IT professionals who can develop and apply these technologies to solve real-world problems. We can develop and implement AI and machine learning algorithms and models, train and validate models, integrate AI solutions into existing systems, and ensure the ethical and responsible use of AI technologies as those topics are also worried by most of the users.
                                </div>
                                <div style="text-align:justify; margin-top:15px;">
                                    There are so much more of the IT professionals can do and needed by the whole market and different organizations. We maybe are not perfect, but one of the motto of us is to learn anything that is new and fulfilling our curiosity with this learning process. Surely we can overcome different kinds of difficulties by having this positive thinking.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </div>
        <script>
        const { createApp } = Vue;
        createApp(
        {
            data() 
            {
                var data = 
                {
                    currentPage: 'am',
                    pages: 
                    [
                        ["am", "About Me"],
                        ["gp", "Goals & Plans"],
                        ["sw", "Strength & Weakness"],
                        ["c", "Contact"]
                    ]
                };
                return data;
            }
        }).mount('#app')
        </script>
    </body>
</html>
